//
// Variables - SKL overrides
// --------------------------------------------------

/*
SKL default theme
Main:
#FFBE0A
rgb(255,190,10)

Compl:
#E6460A
rgb(230,70,10)

Backgroundish:
???
#c5d3d4

Dark brown/gray identity colour:
rgb(141, 129, 121)
*/

// SKL Primaries
$skl-main:      #FFBE0A;
$skl-compl:     #E6460A;
$skl-light:     rgb(215, 209, 202);
$skl-dark:      rgb(141, 129, 121);


/*
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
*/


//$brand-primary:         $skl-dark;
$brand-primary:         $skl-dark;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


// All the colours linked to $brand-primary
/*
$link-color:                    $brand-primary !default;
$component-active-bg:           $brand-primary !default;
$btn-primary-bg:                $brand-primary !default;
$pagination-active-bg:          $brand-primary !default;
$pagination-active-border:      $brand-primary !default;
$label-primary-bg:              $brand-primary !default;
$progress-bar-bg:               $brand-primary !default;
$panel-primary-border:          $brand-primary !default;
$panel-primary-heading-bg:      $brand-primary !default;
*/


// VoteIT specifics

// Colours
// default: $voteit-dark-blue: #0a243d;
$voteit-dark-blue: $skl-dark;
$voteit-unread: $brand-primary;

$navbar-voteit-color:                      #fff;
$navbar-voteit-bg:                         $voteit-dark-blue !default;


// Fonts
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        'Open Sans', sans-serif;
